.mb2 {
    margin-bottom: 2em !important;
}

.pageHeader {
    display: flex;
    justify-content: space-between;
    padding: 2em 0 1em;
    
}
.pageHeaderh1 {
    font-size: 2em;
    font-weight: 400;
    color: #444;
    margin: 0;
}

.card {
    display: static;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 350px; /* Set the desired height for your card */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    background-color: rgb(230, 208, 248);
    text-decoration-color: black;
  }